<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f8;
        }

        .main {
            margin-top: 50px;
            background-color: #dde3e9;
            width: 454px;
            height: 1000px;
            box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.20);
            text-align: center;
        }

    </style>

</head>
<body>
<div class="contain">
    <div class="main">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>