{% extends "makebase.html" %}

{% block title %} <title>quiz3</title> {% endblock %}
{% block progress %}
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress last-progress"></div>
{% endblock %}
{% block question %}당신이 선호하는 타입은?{% endblock %}

{% block content %}

    <form method="get" action="http://127.0.0.1:8000/quiz/create10">
        <input type="hidden"name="p" value="0">
        <button type="submit"  class="cho first">
            <div class="image">
                <img class="image"
                     src="https://img7.yna.co.kr/etc/inner/KR/2018/08/22/AKR20180822123200005_01_i_P2.jpg">
            </div>
            <p class="mul">지킬박사</p>
        </button>
    </form>

    <form method="get" action="http://127.0.0.1:8000/quiz/create10">
        <input type="hidden"  name="p" value="1">
        <button type="submit" class="cho second">
            <div class="image">
                <img class="image" src="http://www.newstage.co.kr/news/photo/201904/31228_10577_5327.jpg">
            </div>
            <p class="mul">하이드</p>
        </button>
    </form>



{% endblock %}