
{% extends "makebase.html" %}


{% block progress %}
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress last-progress"></div>
{% endblock %}
{% block question %}{{ user.name }}이 더 좋아하는 술?{% endblock %}

{% block content %}

    <form method="get" action="http://127.0.0.1:8000/quiz/{{ id }}/guest_q8">
        <input type="hidden"name="p" value="0">
        <button type="submit"  class="cho first">
            <div class="image">
                <img class="image"
                     src="http://www.sommeliertimes.com/news/photo/201906/13727_27703_4047.jpg">
            </div>
            <p class="mul">소주</p>
        </button>
    </form>

    <form method="get" action="http://127.0.0.1:8000/quiz/{{ id }}/guest_q8">
        <input type="hidden"  name="p" value="1">
        <button type="submit" class="cho second">
            <div class="image">
                <img class="image" src="http://health.chosun.com/site/data/img_dir/2015/08/11/2015081101302_0.jpg">
            </div>
            <p class="mul">맥주</p>
        </button>
    </form>



{% endblock %}