
{% extends "makebase.html" %}


{% block progress %}
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress last-progress"></div>
{% endblock %}
{% block question %}{{ user.name }}의 선호메뉴는?{% endblock %}

{% block content %}

    <form method="get" action="http://127.0.0.1:8000/quiz/{{ id }}/guest_q9">
        <input type="hidden"name="p" value="0">
        <button type="submit"  class="cho first">
            <div class="image">
                <img class="image"
                     src="https://t1.daumcdn.net/liveboard/interbiz/724b01edcbeb44dfa3fe10a3dbbda51f.JPG">
            </div>
            <p class="mul">치킨</p>
        </button>
    </form>

    <form method="get" action="http://127.0.0.1:8000/quiz/{{ id }}/guest_q9">
        <input type="hidden"  name="p" value="1">
        <button type="submit" class="cho second">
            <div class="image">
                <img class="image" src="http://img.insight.co.kr/static/2018/08/07/700/ffs6yoo8it332vpwp549.jpg">
            </div>
            <p class="mul">족발</p>
        </button>
    </form>



{% endblock %}