
{% extends "makebase.html" %}


{% block progress %}
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress last-progress"></div>
{% endblock %}
{% block question %}{{ user.name }}이 선호하는 것은?{% endblock %}

{% block content %}

    <form method="get" action="http://127.0.0.1:8000/quiz/{{ id }}/guest_q7">
        <input type="hidden"name="p" value="0">
        <button type="submit"  class="cho first">
            <div class="image">
                <img class="image"
                     src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/61819011_2335114506736510_6417273051141898240_n.png?_nc_cat=104&_nc_oc=AQkX0C-RkrTB2gHRfxSDc2BaVt9p4v2BQm8kVi3hMf5ly4L4oe0N5o_1HkxFOtbKU5g&_nc_ht=scontent-icn1-1.xx&oh=a9fd9a806ca464eb99a0bc42138eae80&oe=5DE7477F"/>
            </div>
            <p class="mul">피로그래밍 팀 과제 16시간</p>
        </button>
    </form>

    <form method="get" action="http://127.0.0.1:8000/quiz/{{ id }}/guest_q7">
        <input type="hidden"  name="p" value="1">
        <button type="submit" class="cho second">
            <div class="image">
                <img class="image" src="https://askcompanyjpe.blob.core.windows.net/media/askdjango/course/2017/03/06/49/4984ad9285ad40828156f6c3f4981e2c.jpg"/>
            </div>
            <p class="mul">askdjango 강의 6시간 논스톱</p>
        </button>
    </form>



{% endblock %}