{% extends "makebase.html" %}

{% block content %}

    <div class="contents">
        <h2>당신의 성격은?</h2>

        <form method="get" action="#" class="choice">
            <button type="submit" class="cho first" formmethod="get">
                <img src="#" alt="">
                <p>깜찍함</p>
            </button>

            <button type="submit" class="cho second" formmethod="get">
                <img src="#" alt="">
                <p>진지함</p>
            </button>

            <input type="button">
        </form>
    </div>



{% endblock %}