* {
            margin: 0 auto;
        }
        body {
            background-color: #f1f3f8;
        }
        .container {
            margin-top: 50px;
            background-color: #dde3e9;
            width: 454px;
            height: 1000px;
            box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.20);
            text-align: center;
        }
        /*여기부터 User_complete*/
        .complete_card{
            background-color: white;
            text-align: center;
            padding: 20px;
            margin-bottom: 10px;
        }
        .complete_card h2{
            font-size: 30px;
            line-height: 32px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .url {
            margin-top: 50px;
        }
        .copy {
            width: 100%;
            border: none;
            margin-top: 20px;
            margin-bottom: 20px;
            background: springgreen;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }
        .copy p {
            padding: 10px;
        }
        .scores h4{
            text-align: left;
            padding-top: 30px;
            font-weight: 700;
            font-size: 20px;
        }